<h1>Listing posts</h1>

<table style="border: 1px; width: 100%">
  <thead>
    <tr>
      <th style="font-size: 20px;background-color:rgba(0,0,255,0.3);">Title</th>
      <th style="font-size: 20px;background-color:rgba(0,0,255,0.3);">Body</th>
      <th style="font-size: 20px;background-color:rgba(0,0,255,0.3);" colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post, :style=>"color: red;"  %></td>
        <td><%= link_to 'Edit', edit_post_path(post), :style=>"color: blue;" %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :style=>"color: green;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
